@use 'sass:math';
@import 'shared/styles/mixins.scss';
@import 'shared/styles/variables.scss';

.to-favorites {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.icon {
	width: 24px;
	height: 24px;
}

.icon-favorites {
	use {
		fill: none;
		stroke: $white2;
	}
}
