@use 'sass:math';
@import 'shared/styles/mixins.scss';
@import 'shared/styles/variables.scss';

.home {
	& > *:not(:last-child) {
		margin-bottom: rem(20);
	}
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(20);
	@media (max-width: $pc) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.variable {
	background-color: $black2;
	border-radius: 6px;
	padding: rem(20);
	width: rem(950);
	height: rem(425);
	@media (max-width: $pc) {
		width: 100%;
		height: auto;
	}
}
